<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        #label #label-text {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-size: 1.25rem;
            font-weight: 500;
            text-align: left;
        }
    </style>
    <title>Mayank Gupta</title>
  </head>
  <body>
    <div class="container">
        <div class="navigation-div">
            <ul id="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="https://blog.mayankg.co.uk/">Blog</a></li>
            </ul>
        </div>
        
        <div class="hero">
            <img class="img-thumbnail rounded-circle portrait" src="https://iili.io/2o2uyu.md.jpg" alt="2o2uyu.md.jpg">
            <h1>Hey, </h1>
            <h2>I'm Mayank. I'm a strategy consultant. I also like to code and write.</h2>
        </div>
        
        <div class="description">
            <h4 id="start">Currently, I spend most of my time working at EY-Parthenon. I'm also really interested in tech startups, entrepreneurship and productivity.</h4>
            <h4>Previously, I studied Civil Engineering at University College London and Management at Cambridge.</h4>
            <h4>I like meeting new people and would love to hear from you. If you're in London, let's grab a coffee. If you're anywhere else in the world, let's talk online. DM me on <a href="https://twitter.com/MayankG98">twitter</a> or send me an <a href="mailto: mayankgupta02090@gmail.com">email</a>!</h4>
        </div> 

        <div class="signup-form">
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            
            <div id="mc_embed_signup">
            <form action="https://mayankg.us2.list-manage.com/subscribe/post?u=a55be12feda8cf9868d5b9839&amp;id=5ef45ace76" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div id="label"><label id="label-text" for="mce-EMAIL">I write about strategy, startups and productivity. If you'd like to receive an email when I write something new, drop your email below!</label></div>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a55be12feda8cf9868d5b9839_5ef45ace76" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>