body {
}

h2, h4 {
    font-weight: 300;
    padding: 15px auto;
}

#start {
    margin: 30px auto auto auto;
}

.container {
    margin: 40px auto;
}

.navigation-div {
    margin: auto auto 40px auto;
}

.description h4 {
    margin: 15px auto;
}

.signup-form {
    margin-top: 40px;
}

#navigation {
    list-style-type: none;  
    text-align: center;
    margin: 0px 45px 0px 0px;
}

#navigation li {
    display: inline;
    text-align: center;
    padding: 0 10px;
    font-size: 18px;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin: auto auto 40px auto;
}

#navigation a {
    color: black;
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    img {
        min-width: 50%;
    }
}

@media screen and (min-width: 2px) {
    img {
        min-width: 50%;
    }
}

@media screen and (min-width: 576px) {
    img {
        min-width: 40%;
    }
}

@media screen and (min-width: 768px) {
    img {
        min-width: 30%;
    }
}

@media screen and (min-width: 992px) {
    img {
        min-width: 20%;
    }
}



